body {
    background-color: black;
}

header:hover {
    color: gray;
}

header {
    color: white;
    width: 200px;
    height: 50px;
    text-align: center;
    position: absolute;
    top: 0px;
    line-height: 50px;
    font-size: 40px;
}

nav {
    color: white;
    top: 0px;
    left: 1500px;
    width: 400px;
    height: 50px;
    position: absolute;
}

footer {
    color: white;
    margin-top: 830px;
    margin-left: 250px;
    width: 1400px;
    height: 70px;
    position: absolute;
}

li {
    list-style-type: none;
    float: left;
}

#aa:hover{
    color: gray;
}

#aa {
    color: white;
    list-style-type: none;
    text-decoration-line: none;
    padding: 7px;
    font-size: 25px;
}

main { 
    font-size: 40px;
    color: white;
    margin-top: 150px;
    margin-left: 300px;
    width: 1300px;
    height: 200px;
    animation:fadeInLeft 1s;
}

#aaa:hover {
    color: gray;
}

#aaa {
    color: white;
    text-decoration: none;
}

@keyframes fadeInLeft{
    0%{
        opacity: 0;
        transform: translate3d(0,0,0);
    }
    to{
        opacity: 1;
        transform: translateZ(0);
    }
}